// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.

@import 'style';


.editor{
	width:50%;
	float:left;
	background:wheat;
	min-height:200px;
}

.preview{
	width:50%;
	float:left;
	background:lightBlue;
	min-height:200px;
}

.selected{
	font-weight:bold;
}

.transparent{
	background:transparent;
}

.white{
	background:white;
}

.green{
	background:green;
	color:white;
}

.blue{
	background:blue;
	color:white;
}

.editable-click{
	border:none !important;
}
.input{
	display:inline-block;
}
.right-align{
	text-align: right;
}
.center-align{
	text-align: center;
}
.left-align{
	text-align: left;
}

.header{
	display:inline;
	font-size:2em;
}

.selected-image{
	width:300px;
	border:blue;
}