<h1>EDITOR</h1>

<ul>Select a template:
	<li ng-class="{selected:template === currentTemplate}" ng-repeat="template in templates" ng-click="selectTemplate(template)">{{template.name}}</li>
</ul>


<!-- <input type="text" ng-model="state.showChoices"> -->
<!-- {{state.showChoices}} -->
<div ng-click="state.showChoices = -1" ng-hide="currentTemplate.fixed"> 
	<span ng-hide="state.showChoices == -1">+</span>
	<div ng-show="state.showChoices == -1">
		<span ng-repeat="blockType in blockTypes">
				<span ng-click="state.addBlock(blockType)">
					{{blockType}} {{state.showChoices}}
				</span>
				
			</span>
	</div>
</div>

<div ng-repeat="block in blocks track by $index">

	<div ng-if="block.type == 'text'" editable-text="block.content"> 	
		<p>{{ block.content || 'text' }}</p>
	</div>
	<div ng-if="block.type == 'header'" editable-text="block.content"> 	
		<p>{{ block.content || 'header' }}</p>
	</div>
	<div ng-if="block.type == 'quote'" > 	
		<p editable-text="block.content">{{ block.content || 'quote' }}</p>
		<p editable-text="block.cite"> {{ block.cite || 'cite' }}</p>
	</div>
	<div ng-if="block.type == 'image'" > 	
		<p editable-text="block.content">{{ block.content || 'image src' }}</p>
		<image-editor block="block"></image-editor>
	</div>
	<div ng-if="block.type == 'video'" > 	
		<p editable-text="block.content">{{ block.content || 'video embed code' }}</p>
	</div>
	<form name="myForm"> Color:
	  <input type="radio" ng-model="block.color" value="white">  White 
	  <input type="radio" ng-model="block.color" value="green"> Green 
	  <input type="radio" ng-model="block.color" value="blue"> Blue 
	</form>
	<form name="otherform"> Align:
	  <input type="radio" ng-model="block.align" value="left-align">  Left 
	  <input type="radio" ng-model="block.align" value="center-align"> Center 
	  <input type="radio" ng-model="block.align" value="right-align"> Right 
	</form>
	<div ng-click="state.removeBlock($index)">x</div>



	<!-- {{block.type}} {{block.content}} {{state.showChoices}} -->
	<div ng-click="state.setChoice($index)" ng-hide="currentTemplate.fixed"> 
		<span ng-hide="state.showChoices == $index">+</span>
		<div ng-show="state.showChoices == $index">
			<span ng-repeat="blockType in blockTypes">
				<span ng-click="state.addBlock(blockType)">
					{{blockType}} {{state.showChoices}}
				</span>	
			</span>
		</div>
	</div>
</div>

<button ng-click="updateDB()">Save</button>
<hr>
<!-- <span ng-repeat="type in types">{{type}} </span> -->
<!-- <div ng-repeat="type in types">{{type}}</div> -->