<!-- <input type="text" ng-model="myModelObj"> -->
<!-- <input type="file" ng-file-select="onFileSelect($files)"> -->
<input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">
<!-- <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div> -->

<div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"
    ng-show="dropSupported">drop files here
	<span ng-show="$files.length">Ok!</span>
</div>
<div ng-file-drop-available="dropSupported=true" 
    ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

<br>
Tags: <input type="text" ng-model="tags">
<button ng-click="addTags()">Add Tags</button>


image id:{{imageID}}


<hr>
<button ng-click="loadImages()">See all images</button>

<div ng-repeat="image in allImages">
	<img ng-src="http://127.0.0.1:5984/rbma_images/{{image.value._id}}/image" alt="" >
	<div>
		<strong>Tags:</strong>
		<span ng-repeat="tag in image.value.tags">{{tag}}</span>
	</div>
</div>
<!-- <button ng-click="upload.abort()">Cancel Upload</button> -->



<!-- <img class="selected-image" src="http://127.0.0.1:5984/rbma_images/"{{}}"/image" alt=""> -->