<h1>PREVIEW</h1>

<div>total items: {{blocks.length}}</div>



<div ng-repeat="block in blocks" ng-switch="block.type" 
ng-class="[block.color, block.align]"
>

	<div ng-if="block.type == 'text'"> 	
		<p>{{ block.content}}</p>
	</div>
	<div ng-if="block.type == 'header'" > 	
		<p class="header">{{ block.content || 'header' }}</p>
	</div>
	<div ng-if="block.type == 'quote'" > 	
		<span>{{ block.content}}</span>
		<small> - {{ block.cite }}</small>
	</div>
	<div ng-if="block.type == 'image'" > 
		<img ng-src="{{block.content}}" alt="">
	</div>
	<div ng-if="block.type == 'video'" ng-bind-html="block.content"> 	
		<!-- {{ block.content }} -->
	</div>



	<!-- 
	<h1 ng-switch-when="heading" ng-bind-html="block.data.text | markdown"></h1>
	<p ng-switch-when="text" ng-bind-html="block.data.text | markdown"> </p>
	<img ng-switch-when="image" src="" alt="">
	<div ng-switch-when="quote">
		<pre ng-bind-html="block.data.text | markdown"></pre>
		<em ng-bind-html="block.data.cite | markdown">-</em>
	</div>
	<div ng-switch-when="list" ng-bind-html="block.data.text | markdown">
		
	</div>
	<audio controls ng-switch-when="audio"> <source ng-src="{{block.data.url}}" type="audio/mpeg"></audio>
	<div ng-switch-when="audio">audio url: {{block.data.url}} </div> -->
	
</div>

